* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background: #222222;
    padding: 19px 0;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    text-decoration: none;
    margin-right: 41px;
}

.header__item:not(:last-child) {
    margin-right: 33px;
}

.promo {
    background: #F1E4E6;
    height: 764px;
}

.promo__title {
    max-width: 377px;
    padding-left: 20px;
    border-left: 12px solid #F16D7F;
}

.promo__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url('../img/man.png') no-repeat -228px 0;
}

.promo__decor {
    color: #F16D7F;
}

.category {
    margin: 100px 0 0 0;
}

.category__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category__item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/category_4.png');
}
.category__item__first {
    background: url('../img/category_1.png')
}

.category__item__second {
    background: url('../img/category_2.png')
}

.category__item__third {
    background: url('../img/category_3.png')
}

.category__item:not(:last-child) {
    width: 360px;
    height: 260px;
    margin: 0 0 30px 0;
}

.category__name {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}

.category__decor {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
}

.main__title {
    margin: 96px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__heading {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.main__info {
    margin: 6px 0 48px 0;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;

}
.main__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__card {
    width: 360px;
    margin: 0 0 30px 0;
    background-color: #F8F8F8;
}

.card__heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin: 25px 0 12px 0;
    padding: 0 0 0 18px;
}

.card__info {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 0 0 18px;
}

.card__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: 18px 0 20px 0;
    padding: 0 0 0 18px;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__button_set {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14px 38px;
    border: 1px solid #FF6A6A;
    margin: 33px 0 109px 0;
}

.delivery {
    background: #222224;
}

.delivery__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery__card {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.delivery__pic_3 {
    margin: 103px 0 25px 0;
}

.delivery__pic_2 {
    margin: 103px 0 25px 0;
}

.delivery__pic_1 {
    margin: 103px 0 28px 0;
}


.delivery__heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.delivery__info {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB; 
    text-align: center;
    margin: 16px 0 104px 0;
}

.subscribe {
    height: 448px;
    background: url(../img/subscribe_back.png) no-repeat;
}

.subscribe__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

.subscribe__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.subscribe__info {
    width: 360px;
    text-align: center;
}

.subscribe__heading {
    width: 560px;
    font-size: 24px;
    line-height: 40,13%;
    text-align: center;
    margin: 0 0 32px 0;
    color: #222224;
}

.subscribe__decor {
    font-size: 18px;
    line-height: 30,1px;
}

.subscribe__button {
    display: flex;
    justify-content: center;
}

.subscribe__input {
    background:#E1E1E1;
    border: 0;
    height: 49px;
    border-radius: 22px 0 0 22px;
    padding: 0 64px 0 22px;
}

.subscribe__sub {
    color: #FFFFFF;
}

.subscribe__email {
    background: #F16D7F;
    padding: 0 11px 0 18px;
    border: 0;
    border-radius: 0 22px 22px 0;
}

.footer {
    background: #222224;
    padding: 30px 0;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__img {
    padding: 8px 8px;
    background: #FFFFFF;
}
.footer__img:not(:last-child) {
    margin-right: 7px;
}
